body {
	font-family: "Roboto", Helvetica, sans-serif;
}

main { 
	padding-top: 20px;
}

.titlebar {
	background-color: orange;
	height: 80px;
}

.title {
	background-color: orange;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	height: 80px;
}

.title > * {
	margin-top: 0;
	margin-bottom: 0;
}

.card > img {
	width: 100%;
}

.card > h3 {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px
}

.card > p {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px
}

.card {
	border: 1px solid lightgrey;
}